*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    position: absolute;
    z-index: 1;
    width:100%;
    top:0;
}
ul{
    list-style: none;
    text-transform: uppercase;
    display: flex;
}
ul li a{
    text-decoration: none;
    padding: 0 20px;
    color: #fff;
    font-family: 'Century Gothic';
}
.heading-section{
    background-color: #2d1a6b;
    position: relative;
    top: 0;
    width: 100%;
    padding-bottom: 50px;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.header-right img{
    z-index: 3;
    position: relative;
}
.header-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 0;
}
.header-left{
    width: 60%;
    margin: 0 auto;
    position: relative;
    padding: 0 45px;
}
.header-right{
    width: 40%;
    margin: 0 auto;
    text-align: right;
    position: relative;
}
.header-left h1{
    font-size: 100px;
    font-family: 'Arial Rounded MT';
    line-height: 5.5rem;
    background: #FF7A01;
background: -webkit-linear-gradient(to right, #FF7A01 0%, #FF0700 100%);
background: -moz-linear-gradient(to right, #FF7A01 0%, #FF0700 100%);
background: linear-gradient(to right, #FF7A01 0%, #FF0700 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
height: 60vh;
margin-bottom: -30%;
}
.header-left p{
    font-size: 18px;
    color: #fff;
    font-family: 'Century Gothic';
    font-weight: 600;
}
.header-right-inner::after{
    border: 10px solid rgb(246, 135, 55);
    background-color: rgb(246, 135, 55);
    content: "";
    border-radius: 5px;
    width: 25%;
    padding: 60px;
    position: absolute;
    top: 36%;
    right: 80px;
    height: 80px;
}

.slick-slide.slick-active img {
    display: inline-block;
}
.header-left.slick-active h1{
    width: 100%;
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: relative;
}
.slick-dots li.slick-active button:before {
    color: #fff!important;
}
.slick-dots li button:before{
    color: #fff!important;
    opacity: 1!important;
    font-size: 10px!important;
    top: 1px!important;
}

.slick-dots li.slick-active button{

    border: 6px solid #f68737!important;
    border-radius: 50%!important;
    padding: 0px!important;
}
.slick-dotted.slick-slider{
    margin: 0 !important;
}
.slick-dots{
    bottom: 40px !important;
}
.second-section{
    background-color:#f68737;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 110px 0px;
    position: relative;
}
.second-section::before{
    content: '';
    background-color: #f68737;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -60px;
    transform: skewY(4deg);
    z-index: 0;
}
.second-section-right button{
    text-transform: uppercase;
    padding: 15px 30px;
    border: 1px solid #fff;
    border-radius: 40px;
    background-color: #fff;
    color: #f68737;
    font-weight: 700;
}
button a{
    text-transform: uppercase;
    color: #f68737;
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
}
.second-section-right h2{
    font-size: 46px;
    color: #fff;
    font-family: 'Century Gothic';
    font-weight: 600;
    margin-top: -25%;
}
.second-section-left{
    margin-bottom: -20%;
    position: relative;
}
.second-section-left img{
    border-radius: 7px;
    z-index: 1;
    position: relative;
}
.second-section-right{
    margin-top: -5%;
}
.second-section-left .play-btn{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.second-section-left .play-btn a{
    position: relative;
}
.second-section-left .play-btn a img{
    position: relative;
    z-index: 2;
}
.second-section-left .play-btn a:after{
    content: "";
    position: absolute;
    background-color: rgba(255,255,255, 0.7);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: -33px;
    right: 0;
    top: -25px;
    z-index: 1;
    box-shadow: 0 0 0px 15px rgb(255 255 255 / 50%);
    animation: mymove 3s infinite;
}
@keyframes mymove {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
  }
.pattern img{
    position: absolute;
    top: -15%;
    left: -15%;
}
.circle-pattern{
    position: absolute;
}
.heading-section::after{
    content: '';
    background-image: url('circle.png');
    position: absolute;
    width: 180px;
    height: 328px;
    z-index: 2;
    background-repeat: no-repeat;
    top: 80%;
    right: 0;
}
.header-left .rotate{
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    transform: rotate(90deg);
    position: absolute;
    top: 40%;
    left: -15%;
    margin: 0;
    letter-spacing: 5px;
}
.right-pattern{
    position: absolute;
    right: 0;
    z-index: 4;
}